<%= form_for [@question, @answer], remote: true do |f| %>
  <div class="radio-inline">
    <%= f.radio_button :content, 'a' %>
    <%= f.label :content, 'A' %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :content, 'b' %>
    <%= f.label :content, 'B' %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :content, 'c' %>
    <%= f.label :content, 'C' %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :content, 'd' %>
    <%= f.label :content, 'D' %>
  </div>
  <div>
  <%= f.submit 'Answer!', class: 'btn btn-primary' %>
  </div>
<% end %>
