<%= form_for [@question, @answer], remote: true do |f| %>
  <div class="radio-inline">
    <%= f.radio_button :content, 'true' %>
    <%= f.label :content, 'True' %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :content, 'false' %>
    <%= f.label :content, 'False' %>
  </div>
  <div>
  <%= f.submit 'Answer!', class: 'btn btn-primary' %>
  </div>
<% end %>
