<h1>Welcome to Phi Education</h1>
<%= form_for @room do |f| %>
  <%= f.fields_for :questions do |q| %>
    <pre><%= q.text_area :content, size: '60x12' %></pre>
    <p><%= q.select :question_type, [
      ['Multiple Choice', 'MULTIPLE_CHOICE'],
      ['True or False', 'TRUE_FALSE'],
      ['Text', 'TEXT']] %></p>
  <% end %>
  <p><%= f.submit 'Create your classroom!' %></p>
<% end %>

<h2>Already have one? <%= link_to 'Go to your classroom', new_teacher_path %></h2>
<h2>Student? <%= link_to 'Click here', '#' %></h2>
