<h1>Welcome to Your Classroom</h1>
<p>Code: <%= @room.code %></p>
<p>Status: <span class="room-status"><%= @room.active? ? 'active' : 'closed' %></span></p>

<h2>Question <%= @room.questions.size %></h2>
<pre><%= @room.questions.last.content %></pre>

<script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
  var channel = pusher.subscribe('room_'+<%= @room.id %>+'_channel');
  channel.bind('change_room_status', function(data) {
    $(".room-status").html(data.status);
  });
</script>
