<h1>Welcome to Your Classroom</h1>
<p>Code: <%= @room.code %></p>
<p>Status: 
<span class="room-status">
  <%= @room.active? ? 'active' : 'closed' %></span></p>
<p>Number of Student: 
  <span class="room-student-number">
    <%= @room.students.size %></span></p>

<h2>Question <span class="question-number"><%= @room.questions.size %></span></h2>
<pre class="current-question"><%= @room.questions.last.content %></pre>

<% if current_teacher %>
  <p><%= link_to 'Close Room', room_path(@room), 
    method: 'delete', data: { confirm: 'Are you sure?' } %></p>
  <%= form_for [@room, Question.new], remote: true do |f|%>
    <%= render 'questions/form', f:f %>
   <p><%= f.submit 'Next Question' %></p>
  <% end %>
<% end %>
<script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
  var channel = pusher.subscribe('room_'+<%= @room.id %>+'_channel');
  channel.bind('change_room_status', function(data) {
    $(".room-status").html(data.status);
  });
  channel.bind('change_question', function(data) {
    $(".current-question").html(data.content);
    $(".question-number").html(data.number);
    $("#question_content").val('');
  });
  channel.bind('new_student', function(data) {
    $(".room-student-number").html(data.size);
  });
</script>
