<%= render 'room_info' %>
<div class="row">
  <div class="col-md-6">
    <h3><small>Current Question</small></h3>
    <pre class="current-question"><%= @room.questions.last.content %></pre>
  </div>
  <h3><small>Your Answer?</small></h3>
  <div class="col-md-6 answer-form">
  </div>
</div>
<script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
  var channel = pusher.subscribe('room_'+<%= @room.id %>+'_channel');

  <% if policy(@room.questions.last.answers.build).new? %>
    get_answer_form('<%= new_question_answer_path(@room.questions.last) %>');
  <% else %>
    $(".answer-form").html('You have submitted your answer!');
  <% end %>
  function get_answer_form(url) {
    $.get(url, function(data){
      $(".answer-form").html(data);
    });
  }

  channel.bind('change_room_status', function(data) {
    var status = $(".room-status");
    status.html(data.status);
    if (status.hasClass('label-default')) {
      status.removeClass('label-default');
      status.addClass('label-primary');
    } else {
      status.removeClass('label-primary');
      status.addClass('label-default');
    }
  });
  channel.bind('change_question', function(data) {
    $(".current-question").html(data.content);
    $(".question-number").html(data.number);
    get_answer_form(data.answer_url);
  });
  channel.bind('new_student', function(data) {
    $(".room-student-number").html(data.size);
  });
  
  $("body").on("ajax:success", "#new_answer", function(){
      $(".answer-form").html('You have submitted your answer!');
  });
</script>
