<%= render 'room_info' %>
<%= form_for [@room, Question.new], remote: true do |f|%>
  <%= render 'questions/form', f:f %>
  <p><%= f.submit 'Next Question', class: 'btn btn-default' %></p>
<% end %>
<p><%= link_to 'Close Room', room_path(@room),
  method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></p>
<script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
  var channel = pusher.subscribe('room_'+<%= @room.id %>+'_channel');

  channel.bind('change_question', function(data) {
    $(".question-number").html(data.number);
    $("#question_content").val('');
  });
  channel.bind('change_room_status', function(data) {
    var status = $(".room-status");
    status.html(data.status);
    if (status.hasClass('label-default')) {
      status.removeClass('label-default');
      status.addClass('label-primary');
    } else {
      status.removeClass('label-primary');
      status.addClass('label-default');
    }
  });
  channel.bind('new_student', function(data) {
    $(".room-student-number").html(data.size);
  });
</script>
