<%= render 'room_info' %>
<div class="row">
  <div class="col-md-6">
    <h3><small>Question <span class="question-number"><%= @room.questions.size %></span></small></h3>
    <pre class="current-question"><%= @room.questions.last.content %></pre>
  </div>
  <div class="col-md-6">
    <h3><small>Answers (<span class="answers-count"><%= @room.questions.last.answers.size %></span>)</small></h3>
    <ul class="question-answers">
      <% @room.questions.last.answers.each do |answer| %>
        <li><%= answer.content %></li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
  var channel = pusher.subscribe('room_'+<%= @room.id %>+'_channel');

  channel.bind('change_room_status', function(data) {
    $(".room-status").html(data.status);
  });
  channel.bind('change_question', function(data) {
    $(".current-question").html(data.content);
    $(".question-number").html(data.number);
    $(".answers-count").html('0');
    $(".question-answers").html('');
  });
  channel.bind('new_student', function(data) {
    $(".room-student-number").html(data.size);
  });
  channel.bind('new_answer', function(data) {
    $(".answers-count").html(data.size);
    $(".question-answers").append("<li>"+data.answer+"</li>");
  });
</script>
